<!doctype html>
<head>
    <title>BJHJ Bot</title>
</head>
<html>
   <body>
     <h1>BJHJ Bot</h1>
       <div class="px-4 py-3 my-2 text-center">
           <img src="{{ url_for('static', filename='images/1.gif') }}" width="192" height="192"/>
           <img src="{{ url_for('static', filename='images/1.png') }}" width="192" height="192"/>
           <img src="{{ url_for('static', filename='images/2.png') }}" width="192" height="192"/>
           <img src="{{ url_for('static', filename='images/3.jpg') }}" width="192" height="192"/>
           <img src="{{ url_for('static', filename='images/4.jpg') }}" width="192" height="192"/>
           <img src="{{ url_for('static', filename='images/5.jpg') }}" width="192" height="192"/>
       </div>
   </body>
</html>
